# Directories
.vs/
.vcxproj
.sln
.filters
.bat
DreamRealm/Debug/
.dir
.user
Dependencies/Assimp/bin/Debug/
Dependencies/GLFW/src/Debug/
Dependencies/GLAD/Debug/
Dependencies/CrunchMath/Debug/
CMakeCache.txt
cmake_install.cmake
**/x64
**/CMakeFiles