[submodule "Esmath/Submodule/Esmath"]
	path = Esmath/Submodule/Esmath
	url = https://github.com/harlexkhal/Esmath
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/glfw/glfw
[submodule "Dependencies/Assimp"]
	path = Dependencies/Assimp
	url = https://github.com/assimp/assimp
